extends layout

block content
  h1= title
  p Welcome to #[em Vietnamese Restaurant], a very basic restaurant website with categorized menu items, which you can create, read, update and delete(everyone is an admin).

  h1 Our Menu

  if error
    p Error getting menu content.
  else

    ul
      each category in categories
        li
          h2 #{category.name}
          p #{category.description}

   

