extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Item:
      input#name.form-control(type='text', placeholder='Bun, Pho etc.' name='name' value=(undefined===item? '' : item.name))
      label(for='description') Description:
      input#name.form-control(type='text', placeholder='Bun, Pho etc.' name='name' value=(undefined===item? '' : item.name))
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
